
* {
    margin: 0;
    padding: 0px;
}

header {
    
    background: linear-gradient( rgb(88, 246, 233), white);
   height: 170px;
}

h1 {
    text-align: center;
    margin-top: 60px;
    color: rgb(44, 44, 42) !important;
    font-family: "Dancing Script", cursive;
    font-size: 55px !important;
}

#frase{
  font-size: 20px;
  font-style: italic;
  font-family: "Dancing Script";
}
  .redes{   
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-left: 65%;
    margin-top: -25px;
    background-color: transparent;
  }

h2 {
  color: #fff;
  text-align: center;
  margin: 25px;
  font-style: italic;
}

h3, p {
  font-size: 25px;
  text-align: center;
}
.subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #0e0e14;
    background-color: #fff;
    width: 30%;
    text-align: center;
    margin: auto;
    border-radius: 6px;
}


.productos-grid {
    display: grid;
    grid-template-rows: auto auto auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 30px;
    height: auto;
  }
  
  #productos {
    border-radius: 8px;
    padding: 10px;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    margin-bottom: 30px;
  }
  
  .producto img {
    width: 280px;
    height: auto;
    object-fit: contain;
    border-radius: 4px;
  }
  
  button {
    font-size: 18px;
    margin-top: 10px;
    padding: 6px;
    background-color: #25D366;
    color: white;
    border-radius: 6px !important;
  }
  button:hover{
    background-color: #13f766;
  }
  
  form{
    text-align: center;
    margin: auto;
  }

  input{
    width: 220px;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgb(33, 32, 32);
    text-align: center;
  }
  
  #lista-presupuesto {
    width: 60%;
    background-color: #fff;
    color: black;
    font-size: 20px;
    padding: 20px;
    margin: auto;
    border: 1px solid rgb(33, 32, 32);
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    list-style: none;
    text-align: center;
  }

  #total{
    background-color: #fff;
    font-size: 25px;
    color: rgb(209, 42, 42);
    text-align: center;
  }

  footer {
    height: 180px;
    background: linear-gradient(white, rgb(88, 246, 233));
  }
  address {
    position: absolute;
    margin-top: 30%;
    margin-left: 57%;
    text-align: center;
    font-size: 15px;
  }


/*

  @media (min-width: 768px) {
    .productos-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .producto {
      width: 90%;
    }
  
    input {
      width: 90%;
    }
  
    form {
      width: 90%;
    }
  
    #lista-presupuesto {
      width: 90%;
    }
  }
*/
  @media (min-width: 480px) {

    .producto img {
    width: 300px;
    height: 250px;
    object-fit: contain;
    border-radius: 4px;
    padding: 10px;
  }
  .redes{
    margin-left: 90%;
  }
  h1 {
    font-size: 74px !important;
  }
  #frase{
    font-size: 30px;
  }
}

   /*
    h2 {
      font-size: 1.4rem;
      text-align: center;
    }
  
    button {
      width: 100px;
      font-size: 1rem;
    }
    .productos-grid {
      display: inline;
        width: 90%;
        margin: 20px;
        padding: 30px;
      }


    .subtitulo{
        border-radius: 5px;
        margin: 10px;
        margin-left: 35%;
        text-align: center;
        font-size: 20px;
    }
      input {
        width: 90%;
      }
    
      form {
        width: 40%;
      }
    
      #lista-presupuesto {
        width: 200px;
        font-size: 20px;
        margin-bottom: 10px;
      }
      h4{ 
        color: #fff;
        margin-left: 30%;
      }
      #total{
        color: #f60c0c;
        text-align: center;
        margin-left: 30%;
        margin-bottom: 25px;
      }
      input{
        width: 200px;
        margin-left: -30px;
        height: 30px;
        border-radius: 7px;
        font-size: 20px;
        
      }
  }
  