
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./asset/image/paisaje.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    

}

.arriba {
    margin: 100px;
    background-color: transparent;
    height: 200px;
    width: 200px;
    border: none;
}

h1,

h2 {
    text-align: center;
    margin-top: 30px;
    color: rgb(254, 233, 5);
    font-family: "Dancing Script", cursive;
    font-size: 60px;
}

.subtitulo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #0e0e14;
    background-color: #fff;
    width: 30%;
    text-align: center;
    margin: auto;
}




.productos-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 30px;
  }
  
  .producto {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: auto;
    height: 320px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
  }
  
  .producto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  button {
    margin-top: 10px;
    padding: 6px 12px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form {
    margin-top: 20px;
    width: 30%;
    text-align: center;
    margin: auto;
  }
  
  input {
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    width: 300px;
  }
  
  #lista-presupuesto,
  #total {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
    list-style: none;
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .productos-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .producto {
      width: 90%;
    }
  
    input {
      width: 90%;
    }
  
    form {
      width: 90%;
    }
  
    #lista-presupuesto {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
        font-size: 40px;
        font-family: "Dancing Script", cursive;
    }
    
    h2 {
      font-size: 1.4rem;
      text-align: center;
    }
  
    button {
      width: 100%;
      font-size: 1rem;
    }
    .producto {
        width: 90%;
      }
    
      input {
        width: 90%;
      }
    
      form {
        width: 30%;
      }
    
      #lista-presupuesto {
        
      }
  }
  